.world {
   background: #DBD9DB;
   position: relative;
   top: 10vh;
   margin: auto;
   height: 400px;
   width: 700px;
}


.redworld {
   background: rgba(202, 39, 39, 0.349);
   position: relative;
   top: 10vh;
   margin: auto;
   height: 400px;
   width: 700px;
}