.world {
   background: #DBD9DB;
   position: relative;
   top: 10vh;
   margin: auto;
   height: 700px;
   width: 1000px;
   border-bottom: 15px solid rgb(90, 53, 28);
   outline-offset: -5px;
}


.redworld {
   background: rgb(202, 39, 39);
   position: relative;
   top: 10vh;
   margin: auto;
   height: 700px;
   width: 1000px;
   border-bottom: 15px solid rgb(90, 53, 28);
   outline-offset: -5px;
}